<h3>Contact List</h3>
<div class="btn-group mt-2">
  <a class="btn btn-primary active" routerLink="/new">New Contact</a>
</div>
<div class="mt-2">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Of Birth</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList$ | async">
        <td>{{ contact.firstName }} {{ contact.surname }}</td>
        <td>{{ contact.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            routerLink="/edit/{{ contact.contactId }}"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
